@import "../../styles/variables.scss";

.default {
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 20px 0;
    .flags {
      width: 20%;
      span {
        border-radius: 1000px;
        -webkit-box-shadow: 0px 0px 15px 5px $grigioChiaro;
        box-shadow: 0px 0px 15px 5px $grigioChiaro;
      }
    }
  }
}
