@import "../styles/variables.scss";

.container {
  .photo {
    width: 75%;
    margin: 20px auto;
    span {
      border-radius: 1000px;
      -webkit-box-shadow: 0px 0px 15px 5px $grigioChiaro;
      box-shadow: 0px 0px 15px 5px $grigioChiaro;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 0;
    color: $grigioChiaro;
    font-family: $defaultFont;
    h2 {
      font-size: 28px;
      margin: 3px 0;
    }
    h4 {
      margin: 4px 0;
      font-size: 18px;
    }
    p {
      text-align: center;
      margin: 8px;
      padding: 0 10px;
      font-weight: 200;
    }
  }
  .Pages {
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons {
      background-color: $azzurro;
      color: $nero;
      font-family: $defaultFont;
      font-weight: 600;
      font-size: 18px;
      border-radius: 20px;
      border: 4px $nero ridge;
      text-align: center;
      width: 70%;
      padding: 15px 0;
      margin: 15px 0;
      -webkit-box-shadow: 0px 0px 10px 2px $grigioChiaro;
      box-shadow: 0px 0px 10px 2px $grigioChiaro;
      p {
        margin: 0;
      }
    }
  }
}
